$neutralLight: #ffffff;
$highlightLight: #9c9eed;
$primaryLight: #0044ad;
$secondaryDark: #667eff;
$highlight: #454ADE;
$primaryDark: #000000;
$background: #FFFFFF;
$secondaryLight: #ffffff;
$highlightDark: #1c21a1;
$primary: #001C47;
$secondary: #CCD4FF;
$neutral: #FFFFFF;
$neutralDark: #cccccc;
