$neutralLight: #ffffff;
$highlightLight: #7cbff3;
$primaryLight: #2e51e1;
$secondaryDark: #081630;
$highlight: #1E92EB;
$primaryDark: #08123b;
$background: #FFFFFF;
$secondaryLight: #2967db;
$highlightDark: #0d5a96;
$primary: #152E94;
$secondary: #173E87;
$neutral: #FFFFFF;
$neutralDark: #cccccc;
